/* Сетка */
.container {
    width: 1140px;
    margin: 0 auto;
}

/* Общие настройки */

#cover,
#main,
#popular__items,
#about__us,
#payment,
#deliver,
#contacts {
    margin-bottom: 100px;
}

p,
h2,
button {
    margin: 0;
}

.more{
    font-size: 24px;
    color: rgba(0, 0, 0, 50%)
}

/* Шрифт */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Body */
body {
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
}

/* Шапка */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.header__icons__menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
    margin-left: 25px;
}

a:hover {
    color: #990000;
}


/* Cover */
.backgroung__cover {
    display: block;
    width: 100%;
    height: 600px;
    background-image: url(./img/cover__image.png);
    display: flex;
    align-items: center;
}


.cover__text {
    color: white;
    font-size: 48px;
    font-weight: 700;
}


/* main */
#main h2 {
    margin-bottom: 50px;
}

.item__inf p {
    margin-bottom: 10px;
    font-weight: 700;
}

.main__items {
    display: flex;
    justify-content: space-between;
}

.item__inf {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.item__button {
    width: 300px;
    height: 50px;
    background-color: black;
    border: 0;
    color: white;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 8px;
}


/* popular__items */

#popular__items h2 {
    margin-bottom: 50px;
}

.artist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.name {
    margin-bottom: 20px;
}

.count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.catalog__item {
    display: flex;
    flex-direction: column;
}

.popular__items {
    display: flex;
    justify-content: space-between;
}


/* about__us */
.about__us{
    display: flex;
    align-items: center;
}

.about__us img{
    margin-right: 50px;
}

#about__us h2{
    margin-bottom: 50px;
}


/* Pay */
.pay{
    display: flex;
    height: 350px;
}
.pay img{
    margin-right: 50px;
}

.pay__inf{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment__head{
    margin-bottom: 57px;
}

.payment__text p{
    margin-bottom: 20px;
}

/* Deliver */

.deliver{
    display: flex;
    height: 350px;
}

.deliver img{
    margin-right: 50px;
}

.deliver__inf{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deliver__head{
    margin-bottom: 57px;
}

.deliver__text p{
    margin-bottom: 20px;
}

/* contacts */

#contacts h2{
    margin-bottom: 50px;
}

.contacts{
    display: flex;
    align-items: center;
}

.contacts img{
    margin-right: 50px;
}

.contacts__text{
    display: flex;
    flex-direction: column;
}

.contact__item{
    display: flex;
    align-items: center;
    font-weight: 800;
}

.contact__item img{
    margin-right: 5px;